.display {
    width: 821px;
    height: 354px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 12px #00000014;
    border-radius: 15px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    padding: 35px;
    box-sizing: border-box;


}

@font-face {
    font-family: "Helvetica Neue";
    src: url('../helveticaneue.ttf')
}

.display_question {
    width: 100%;

    /* UI Properties */
    text-align: center;
    font: normal normal medium 20px/25px Helvetica Neue;
    letter-spacing: 1px;
    color: #000000;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
}

.display_question_inner {
    width: 619px;
    height: 49px;
    text-align: center;
    font-family: "Helvetica Neue";
    font: normal normal medium 38px/39px Helvetica Neue;
    justify-content: center;
    letter-spacing: 1px;
    color: #000000;
    opacity: 1;
    height: 50%;
}

.display_image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 57px;
    /* gap: 9%; */
    height: 100%;
}

.button {
    width: 135px;
    height: 147px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 29px;
    height: 100%;
}

.button img {
    width: 77px;
    height: 77px;
    /* UI Properties */

    opacity: 1;
    height: 45%;
    width: 100%;
}

.next {
    display: flex;
    justify-content: flex-end;

}

.next button {
    width: 206px;
    height: 69px;
    /* UI Properties */
    background: #50A972 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 12px #00000014;
    border-radius: 15px;
    opacity: 1;
    border: none;
    font: normal normal bold 20px/26px DM Sans;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.names {
    width: 200px;
    height: 20px;
    /* UI Properties */
    text-align: center;
    font: normal normal 600 30px/35px DM Sans;

    letter-spacing: 0.75px;
    color: #777778;
    text-transform: capitalize;
    opacity: 1;
}

.display_question_inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 93px;
    gap: 57px;
    font: normal normal 600 40px/39px Helvetica Neue;
    height: 50%;

}

.display_textarea {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    flex-direction: column;
    gap: 1vw;
    opacity: 1;
}

textarea {
    /* width: 327px; */
    width: 50%;
    height: 47px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 0px 16px #0000000F;
    border-radius: 10px;
    opacity: 1;
    border-style: none;
    border-color: Transparent;
    overflow: auto;
    padding-top: 12px;
    padding-left: 25px;
    /* text-align: center; */
    justify-content: center;
    font: normal normal normal 20px/24px Helvetica Neue;
    color: #777778;
}

::placeholder {
    width: 130px;
    height: 23px;

    font: normal normal normal 20px/24px Helvetica Neue;
    letter-spacing: 1px;
    color: #777778;
    opacity: 0.5;
    /* padding-top: 12px;
    padding-left: 25px; */
}

.validation-message {
    color: red;
    margin-top: 5px;
}

Custom Slider Styles
.rs-slider .rs-slider-handle {
    background-color: green !important; 
  }
  
  .rs-slider .rs-slider-progress {
    background-color: green !important; 
  }
  
  .rs-slider .rs-slider-rail {
    background-color: lightgreen !important; 
  }

  
  .rs-slider-bar{
    background-color: #CCE3D8 !important;
    height: 10px !important;

  }

  .rs-slider-progress-bar{
    background-color: #50A972 !important;
  }

  
 .rs-slider-handle{
    background-color:  #50A972 !important;
    height: 20px !important;
    top: -100% !important;
 }


 .rs-slider-handle::before{
    border: 5px solid #50A972 !important;
    width: 30px !important;
    height: 30px !important;
 }


 .rs-tooltip {
    background-color:  #50A972 !important;
 }

 .rs-tooltip[class*='placement-top']::after{
    border-top-color: green !important;
 }